RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule .* index.php?phpchpu=$0 [QSA]



<FilesMatch "\.(php)$">
	Deny from all
</FilesMatch>

<FilesMatch "index.(php)$">
	Allow from all
</FilesMatch>

<Files .htaccess>
 order allow,deny
 deny from all
 </Files>